/* Local */

@import url(../fontawesome-free-5.15.3-web/css/all.min.css);

:root {
  --primary: #0d6efd;
  --danger: #dc3545;
  --success: #198734;
  --warning: #ffc107;
  --secondry: #adb5bd;
  --info: #0dcaf0;
  --color1: #0091eb;
  --color1box: #0088dd66;
  --color2: #ddd;
  --color2box: rgba(204, 204, 204, 0.9);
}

@font-face {
  font-family: IranSans;
  src: url(../fonts/Iranian-Sans/Iranian\ Sans.ttf);
}

@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins/PoppinsLatin-Medium.ttf);
}

body{
  background: var(--color2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: IranSans, sans-serif;
  font-size: 1rem;
  cursor: default;
  scroll-behavior: smooth;
}

.larg-txt{font-size: 1.5rem;}

.vlarg-txt{font-size: 3rem;}

.ml-1{margin-left: .5rem;}
.mt-1{margin-top: .5rem;}
.mt-2{margin-top: 1rem;}
.mb-1{margin-bottom: .5rem;}
.mb-2{margin-bottom: 1rem;}
.mb-3{margin-bottom: 1.5rem;}

.pointer{
  cursor: pointer;
}

a{
  text-decoration: none;
  /* color: var(--color2); */
  cursor: pointer;
}

.lang-en{
  direction: ltr;
  font-family: poppins, sans-serif;
}

.d-block{
  display: block;
  width: 100%;
}

.box{
  border-radius: 1rem;
  box-shadow: #2e2d2d66 0 2px 4px, #2e2d2db5 0 7px 15px -3px;
}

.inbox{
  box-shadow: inset 0 3px 15px rgba(38, 38, 38, 0.5);
  border-radius: 1rem;
}

/*********************************************************************/

/* sidebar | aside | navbar | nav menu */

aside {
  /* width: 15%; */
  position: fixed;
  display: flex;
  align-items: center;
  left: 0;
  top: 0;
  height: 100%;
}
#burger-menu{
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  width: 65px;
  transition: all 0.3s;
  z-index: 9;
  cursor: pointer;
  display: none;
  border-radius: 6rem;
}

.inactive-burger{
  background: var(--color2);
  color: var(--color1);
  box-shadow: #a2a2a2 0 -4px 2px 1px inset, #2e2d2d66 0 2px 4px,
    #2e2d2db5 0 7px 7px -3px;
}

.active-burger{
  background: var(--color1);
  color: var(--color2);
  transform: translateY(4px);
  box-shadow: #3f3f3f84 0 2px 7px 4px inset;
}

#navbar {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  padding: 0.5rem;
  border-radius: 2rem;
}

.nav-item {
  margin: 1rem 0;
}

.nav-link {
  text-decoration: none;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  width: 65px;
  overflow: hidden;
  background: var(--color2box);
  color: var(--color1);
  border-radius: 6rem;
  box-shadow: #a2a2a2 0 -4px 2px 1px inset, #2e2d2d66 0 2px 4px,
    #2e2d2db5 0 7px 13px -3px;
  transition: all 0.3s;
  z-index: 9;
  cursor: pointer;
}
.nav-link:hover {
  animation: widthChange 0.3s;
  width: 180px;
  background: var(--color1);
  color: var(--color2);
  transform: translateY(4px);
  box-shadow: #3f3f3f84 0 2px 7px 4px inset;
}

@keyframes widthChange {
  0% {
    width: 65px;
  }
  100% {
    width: 180px;
  }
}

.nav-icon {
  font-size: 1rem;
  cursor: pointer;
}

.nav-txt {
  margin-left: 1.6rem;
  cursor: pointer;
}

/*********************************************************************/

#content {
  float: right;
  width: 90%;
  margin: 1.5rem 1.5rem 1.5rem 0;
  direction: rtl;
}

/* header | hero */

#hero {
  display: flex;
  direction: rtl;
  height: 350px;
}

/* hero image box */
#hero-img-box {
  width: 25%;
  height: 350px;
  margin-left: 3%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background: url(../image/hero.png) no-repeat center;
  background-color: var(--color2box);
  background-size: 220px;
}

#hero-path {
  padding: 5rem 0 1rem 0;
  background: var(--color1);
  width: 100%;
  text-align: center;
  clip-path: ellipse(52% 70% at 50% 97%);
  color: var(--color2);
}

#hero-path a{
  color: var(--color2);
  transition: color .3s;
}
#hero-path a:hover{
  color: rgb(117, 225, 249);
}

#hero-path h2{
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

/* hero info box */

#hero-info-box {
  width: 72%;
  height: 100%;
  background:url(../image/hero-info-bg2.jpg) no-repeat center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: calc(100/3) calc(100/3) calc(100/3);
  color: var(--color2);
}

.hero-grid-item1{
  grid-column-start: 2;
  grid-column-end: 3;
  direction: ltr;
}
.hero-grid-item2{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}
.hero-grid-item3{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}
.hero-grid-item4{
  grid-column-start: 1;
  grid-column-end: 3;
  direction: ltr;
}

.hero-grid-item{
  display: flex;
  align-items: center;
  padding: 0 3rem;
}

.header-social-media-link{  
  margin-right: 2rem;
  transition: color .3s;
  color: var(--color2);
}
.header-social-media-link:hover{
  color: rgb(117, 225, 249);
}

/*********************************************************************/

/* main */


/* main boxes */
.main-box-header{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 3rem;
}
.main-box-title{
  background: var(--color1);
  padding: 1rem;
  border-radius: 1rem;
  margin-left: .5rem;
  color: var(--color2);
  width: 20%;
  text-align: center;
}
.main-box-header > hr{
  width:80%;
  height: 0;
  border: var(--color1) 1PX solid;
}
.main-box-content{
  margin-right: 1rem;
  padding: 1rem 2rem;
}
.main-box-txt{
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: justify;
}

/* skills */

#skill-progs{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
.skill-prog-box{
  display: flex;
  justify-content: space-between;
  width: 400px;
  min-width: 300px;
}
.skill-prog{
  height: 2rem;
  position: relative;
  z-index: -1;
  width: 50%;
}

.skill-prog::before{
  position: absolute;
  height: 1.5rem;
  font-size: .9rem;
  color: var(--color2);
  bottom: 0;
  right: 0;
  text-align: center;
}

.prog-10::before{width: 100%;content: "100%";}
.prog-9::before{width: 90%;content: "90%";}
.prog-8::before{width: 80%;content: "80%";}
.prog-7::before{width: 70%;content: "70%";}
.prog-6::before{width: 60%;content: "60%";}
.prog-5::before{width: 50%;content: "50%";}
.prog-4::before{width: 40%;content: "40%";}
.prog-3::before{width: 30%;content: "30%";}
.prog-2::before{width: 20%;content: "20%";}
.prog-1::before{width: 10%;content: "10%";}

/* portfolio */

#portfolio-box-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.portfolio-card{
  min-width: 300px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  box-shadow: #2e2d2d66 0 2px 4px, #2e2d2db5 0 7px 15px -3px;
}
.card-img{
  width: 100%;
}
.card-body{
  margin: 1rem 0;
  padding: 1rem;
}
.card-topic{
  margin-bottom: 1rem;
}
.card-info{
  text-align: justify;
}
.card-link{
  width: 100%;
}
.card-footer-btn{
  width: 100%;
  padding: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  transition: all .3s;
}
.card-footer-btn:hover{
  background-color: var(--color1);
  color: var(--color2);
}

/* footer | contact */

#contact-box-content{
  margin-bottom: -1.5rem;
  border-radius: 1rem 1rem 0 0;
  background: rgba(7, 7, 7, 0.7);
}

.footer-container{
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.contact-item{
  display: block;
  color: var(--color2);
  margin-bottom: 1rem;
  font-size: 1.2rem;
  transition: color .3s;
}
.contact-item:hover, .footer-sm-link i:hover{
  color: var(--color1);
}

.footer-social-media{
  display: flex;
  flex-direction: column;
}
.footer-sm-link i{
  color: var(--color2);
  margin-bottom: 1rem;
  font-size: 2rem!important;
  cursor: pointer;
  transition: color .3s;
}

.footer-end{
  background: var(--color1);
  padding: 2rem;
  color: var(--color2);
  text-align: center;
}

.footer-end-txt a{
  color: var(--color2);
  font-size: 1.2rem;
  line-height: 2.5rem;
}

/*********************************************************************/

/* media queries */

@media only screen and (max-width:1250px) {
  #content{
    width: 85%;
  }
}
@media only screen and (max-width:1036px) {
  #skill-progs{
    justify-content: start;
  }
}
@media only screen and (max-width:919px){
  #hero-info-box{
    display: none;
  }
  #hero-img-box{
    width: 100%;
  }
  #content{
    width: 83%;
  }
}
@media only screen and (max-width:767px) {
  #content{
    margin: 1.5rem auto;
    width: 95%;
    float: none;
  }
  #burger-menu{
    display: inline-block;
  }
  aside{
    align-items: flex-start;
    z-index: 9999;
    height: 85px;
    overflow: hidden;
    transition: height .5s linear;
  }
  .full-aside{
    height: 100%;
  }
  
}
